--extra-index-url https://basic.artifactory.example.com/api/pypi/pypi-linuxbuild-prod/simple
astroid==2.11.7
attrs==22.2.0
certifi==2023.7.22
charset-normalizer==2.0.12
coverage==6.2
dataclasses==0.8
dill==0.3.4
idna==3.4
importlib-metadata==4.8.3
iniconfig==1.1.1
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
mock==5.1.0
packaging==21.3
platformdirs==2.4.0
pluggy==1.0.0
py==1.11.0
pydantic==1.9.2
pylint==2.13.9
pyparsing==3.1.1
pytest==7.0.1
pytest-mock==3.6.1
requests==2.27.1
tomli==1.2.3
twine==3.8.0
typed-ast==1.5.5
typing_extensions==4.1.1
urllib3==1.26.16
wrapt==1.15.0
wheel==0.37.1
zipp==3.6.0
